{% extends 'base.html' %}

{% block content %}
{% load static %}

 <!-- Quiz preloaded with first question's data-->
<section class="quiz-container container px-3">

    {% with first_question=questions.0 %}
    <div class="row">
        <h3 id="question-text">Q1 - {{ first_question.question_text }}</h3>
    </div>
    <div id="question-choices" class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for choice_key, choice_value in first_question.choices.items %}
        <div class="col">
            <button class="btn w-100" data-choice-key={{ choice_key }}>{{ choice_value }}</button>
        </div>
        {% endfor %}
    </div>

    <h3 id="question-answer">Answer: {{ first_question.answer }}
    </div>
    {% endwith %}

</section>
{% endblock %}