{% extends 'base.html' %}

{% block content %}
{% load static %}

 <!-- Quiz preloaded with first question's data-->
<section class="quiz-container container rounded px-3">

    {% with first_question=questions.0 %}
    <div class="row">
        <h3 id="question-text">Q1 - {{ first_question.question_text }}</h3>
    </div>
    <div id="question-choices" class="row row-cols-1 row-cols-md-2 my-3">
        {% for choice_key, choice_value in first_question.choices.items %}
        <div class="col my-1" align="center">
            <button class="btn w-75" data-choice-key={{ choice_key }}>{{ choice_value }}</button>
        </div>
        {% endfor %}
    </div>
    <div class="row row-cols-3 justify-content-center">
        <div class="col" align="center">
            <button id="check-answer-button" class="quiz-controls btn w-100">Check answer</button>
        </div>
        <div class="col" align="center">
            <button id="next-question-button" class="quiz-controls btn w-100">Next question</button>
        </div>
    </div>

    <div class="my-3">
        <p id="question-answer">Answer: {{ first_question.answer }}</p>
    </div>
    {% endwith %}

</section>
{% endblock %}